body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  text-align: center;
  width: 900px;
  margin: 0 auto;
}

a {
  color: aquamarine;
  font-size: 16px;
}

h1,
h2 {
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

.appfeatures {
  font-size: 21px;
  color: gray;
}

footer {
  text-align: right;
  color: gray;
}
